<div class="head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</div>
<div class="side-nav">
    <ul>
      <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
      <li><a href="/objectives"><i class="fas fa-bullseye"></i>Objectives</a></li>
      <li><a href="/survey"><i class="fas fa-user"></i>User</a></li>
      <li><a href="/settings"><i class="fas fa-cog"></i>Settings</a></li>
      <li><a href="/settings"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
</div>
