<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>All Transactions</h2>
      <button class="close-btn" (click)="close()">&times;</button>
    </div>

    <div class="modal-body">
      <div class="combined-activities">
        <ng-container *ngIf="combinedActivities.length > 0; else noActivities">
          <table class="activities-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Details</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of combinedActivities" 
                  [style.borderLeft]="'4px solid ' + getActivityColor(activity.type)">
                <td class="date">{{ activity.date | date:'shortDate' }}</td>
                <td class="type" [style.color]="getActivityColor(activity.type)">
                  {{ activity.type | uppercase }}
                </td>
                <td class="details">
                  <ng-container [ngSwitch]="activity.type">
                    <span *ngSwitchCase="'income'">{{ activity.category }}</span>
                    <span *ngSwitchCase="'expense'">{{ activity.category }}</span>
                    <span *ngSwitchCase="'budget'">
                      {{ activity.start_date | date:'shortDate' }} - {{ activity.end_date | date:'shortDate' }}
                    </span>
                  </ng-container>
                </td>
                <td class="amount" [style.color]="getActivityColor(activity.type)">
                  <ng-container [ngSwitch]="activity.type">
                    <span *ngSwitchCase="'income'">+{{ activity.amount | currency }}</span>
                    <span *ngSwitchCase="'expense'">-{{ activity.amount | currency }}</span>
                    <span *ngSwitchCase="'budget'">{{ activity.budget_amount | currency }}</span>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #noActivities>
          <div class="no-transactions">No activities found</div>
        </ng-template>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-close" (click)="close()">Close</button>
    </div>
  </div>
</div>