<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title class="title">Welcome Back</mat-card-title>
      <mat-card-subtitle>Login to your account</mat-card-subtitle>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error">
          Invalid email.
        </div>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            
          </mat-icon>
        </mat-form-field>
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error">
          Invalid password.
        </div>
        <button mat-raised-button color="primary" type="submit" class="submit-btn" (click)="onSubmit()">
        <button mat-raised-button color="primary" type="submit" class="submit-btn" >
          Login
        </button>
  
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      </form>
      <p class="register-text">Don't have an account? 
        <a (click)="goToRegister()" class="register-link">Register here</a>
      </p>
    </mat-card>
  </div>
  