<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
      <h2 *ngIf="mode === 'add'">Add New Income</h2>
      <h2 *ngIf="mode === 'view'">View Income</h2>
        <button class="close-btn" (click)="close()">&times;</button>
      </div>
  
      <form class="income-form" (ngSubmit)="saveIncome()" *ngIf="mode === 'add'">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" 
                 [(ngModel)]="income.amount" 
                 name="amount" 
                 placeholder="Enter amount"
                 required>
        </div>
  
        <div class="form-group">
          <label>Category</label>
          <select [(ngModel)]="income.category" name="category" required>
            <option value="">Select Category</option>
            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Date</label>
          <input type="date" 
                 [(ngModel)]="income.date" 
                 name="date"
                 required>
        </div>
  
        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="income.description" 
                    name="description" 
                    placeholder="Add note..."></textarea>
        </div>
  
        <div class="button-group">
          <button type="button" class="btn cancel" (click)="close()">Cancel</button>
          <button type="submit" class="btn save">Save Income</button>
        </div>
      </form>
      <div class="income-table-wrapper" *ngIf="mode === 'view' ">
        <div class="table-container">
          <table class="income-table">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inc of incomeList">
                <td>{{ inc.amount | currency }}</td>
                <td>{{ inc.category }}</td>
                <td>{{ inc.date | date:'MMM d, yyyy' }}</td>
                <td>{{ inc.description}}</td>
                <td>
                  <button class="delete-btn" (click)="deleteIncome(inc.id ? inc.id : '')">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>